# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# CMake
**/build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Misc
*.log